@media screen and (max-width: 800px) {
  #home {
    display: none;
  }
}
#blue-txt h2,
#blue-txt p {
  color: main-blue;
}
.copyright {
  color: #fff;
}
.copyright a:hover {
  color: #fff;
}
.copyright a:focus {
  color: #fff;
}
.copyright a:visited {
  color: #fff;
}
.footer a {
  color: #fff;
}
.event-details {
  text-align: justify;
}
#active {
  background: #1983c3;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
}
.borderRadius {
  border-radius: 10%;
  display: block;
  height: 350px;
  margin: auto;
  margin-bottom: 2em;
  max-width: 100%;
}
.arial {
  font-family: arial;
}
.divider,
h2,
h5 {
  font-family: Helvetica;
}
#doctors {
  height: 500px;
}
#doctors .img-fullwidth {
  height: 500px;
}
.footerContact {
  color: #fff;
}
.footerContact #whiteTxt {
  color: #fff;
}
#galleryIcons {
  margin-right: auto;
  margin-left: auto;
  position: color #1983c3;
}
#about {
  margin-top: 3.4em;
}
#linkColor {
  color: #1983c3;
}
#logoGB {
  max-width: 150px;
  width: 20%;
}
.profileSize {
  min-height: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-content .row {
  padding-left: 10px;
}
.section-content .row .media-left,
.section-content .row .pull-left {
  margin-right: 10px;
  margin-left: 10px;
}
.section-content .col-xs-12,
.section-content .col-sm-6,
.section-content .col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}
.thumb img {
  height: 150px;
}
.whatsapp {
  display: inline;
  margin-top: 1em;
  text-align: right;
  width: 100%;
}
.divider,
h2,
h5 {
  font-family: Helvetica;
}
.owl-stage {
  padding-bottom: 150px;
}
