mainBlue = #1983c3
, h5
html,  body, h1, h2, h3, h4, h5, h6
    font-family: Arial

@media screen and (max-width: 800px){
    #home {
        display: none;
        }
    }

.borderRadius
    border-radius: 10%
    display block
    height: 150px
    margin: auto
    margin-bottom: 2em
    max-width 100%

.divider, h2, h5
    font-family: Helvetica

#doctors
    & .img-fullwidth
        height 500px

.footerContact
    color white
    & #whiteTxt
        color white

#galleryIcons
    margin-right: auto
    margin-left: auto
    position: 
    color mainBlue

.linkColor
    color mainBlue

#logoGB
    max-width  150px
    width: 20%

.section-content
    .row
        padding-left: 10px
        & .media-left, .pull-left
            margin-right: 10px
            margin-left: 10px
    
    & .col-xs-12, .col-sm-6, .col-md-4
        padding-right: 0px
        padding-left: 0px

.thumb
    & img
        height: 150px

.whatsapp
    display: inline
    margin-top: 1em
    text-align: right
    width: 100%
