mainBlue = #1983c3

@media screen and (max-width: 800px){
    #home {
        display: none;
        }
    }

.copyright
    color white
    & a:hover
        color white
    & a:focus
        color white
    & a:active
        color
    & a:visited
        color white
        
.footer a
    color white

.event-details
    text-align justify
    
#active
    background: mainBlue
    color: white
    font-weight: bold
    padding 0.5em

.borderRadius
    border-radius: 10%
    display block
    height: 350px
    margin: auto
    margin-bottom: 2em
    max-width 100%

.arial
    font-family arial

.divider, h2, h5
    font-family: Helvetica

#doctors
    height 500px
    & .img-fullwidth
        height 500px

.footerContact
    color white
    & #whiteTxt
        color white

#galleryIcons
    margin-right: auto
    margin-left: auto
    position: 
    color mainBlue
    
#about
    margin-top 3.4em

#linkColor
    color mainBlue

#logoGB
    max-width  150px
    width: 20%

.profileSize
    min-height 400px
    height 400px
    display block
    margin-left: auto
    margin-right: auto

.section-content
    .row
        padding-left: 10px
        & .media-left, .pull-left
            margin-right: 10px
            margin-left: 10px
    
    & .col-xs-12, .col-sm-6, .col-md-4
        padding-right: 0px
        padding-left: 0px

.thumb
    & img
        height: 150px

.whatsapp
    display: inline
    margin-top: 1em
    text-align: right
    width: 100%

.divider, h2, h5
    font-family: Helvetica

    
.owl-stage
    padding-bottom 150px